{% extends "base.html" %}

{% block content %}

<p class="lead" style="font-weight: 400">Custom Tags are optional labels that can be attached to one or more bets. They offer an additional layer for filtering,
   enabling more specific analysis.</p>

<p class="lead" style="font-weight: 400">You can create, edit and delete your tags here, and then assign them to, or remove them from, 
    bets in the Bet History table by clicking on each bet's "Manage Tags" button.</p>

<p>Some advice: While it's a good practice to consistently label your bets, running analyses through multiple filters on a sample that isn't sufficiently large can lead to
     misleading statistics. For example, if you have a total of 200 NBA spread bets, the resulting analytics should be informative and useful. 
     However, if you filter the data only for games where the Indiana Pacers were home dogs, the sample size may become too small to provide reliable insights.</p>

<hr>

<a class="btn btn-warning border border-dark" style="margin: 20px;" href="{% url "new_tag" %}" role="button">Create a new Tag</a>


{% include "tags/partials/tag_list_table.html" %}


{% endblock content %}