<div id="bet_tag_list">
    <table class="table" style="width: 75%;">
        <thead>
            <tr>
                <th scope="col" class="col-sm-3 text-center text-nowrap"></th>
                <th scope="col" class="col-sm-7 text-center text-nowrap"></th>
                <th scope="col" class="col-sm-2 text-center text-nowrap"></th>
            </tr>
        </thead>
        <tbody>
            {% for tag in bet.tags.all %}
            <tr>
                <td><b>{{ tag }}</b></td>
                <td><i>{{ tag.description }}</i></td>
                <td>
                    <form action="{% url 'bet_tag_page' pk=bet.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="tag-id" value="{{tag.id}}">
                        <input type="hidden" name="bet-id" value="{{bet.pk}}">
                        <button hx-post="{% url "remove_associated_tag" bet.pk %}"
                                hx-target="#bet_tag_list"
                                class="btn btn-danger border border-dark"
                                type="submit" 
                                name="remove-tag">
                            Remove Tag
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'bet_tag_page' pk=bet.pk %}" method="POST">
        {% csrf_token %}
        <p>Select a Tag to assign to this Bet from the drop-down list:</p>
        <select name="tag-select" class="form-select" aria-label="no-label" style="width: 40%;" id="tag-select" required>
            <option value="" disabled selected>Select from your existing Tags</option>
            {% for tag in inactive_tags %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <button hx-post="{% url "add_associated_tag" bet.pk %}"
                hx-target="#bet_tag_list"
                id="assign-tag-button" 
                class="btn btn-success active border border-dark" 
                type="submit"
        >
            Assign Tag to this Bet
        </button>
        <a class="btn btn-warning border border-dark" style="margin: 10px;" href="{% url 'bet_new_tag' %}?bet_pk={{ bet.pk }}" role="button">Create a new Tag</a>
    </form>
</div>