{% extends "base.html" %}

{% block content %}
<div class="m-4">
    <h1 class="text-center">Welcome to BetView</h1>
    <p class="lead text-center">
        A very simple, free-to-use bet tracker, with some analytics.
    </p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url "login" %}" class="btn btn-primary mx-4 mb-4">Log In</a>
        <p class="lead text-center">
            Don't have an account yet?
        </p>
        <a href="{% url "signup" %}" class="btn btn-success mx-4 mb-4">Sign Up</a>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-link px-0">About this app</button>
        </div>
    </div>
</div>



{% endblock content %}