{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Welcome to BetView</h1>
<p class="lead text-center">
    A very simple bet tracker, with some analytics.
  </p>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary m-4" type="button">Log In</button>
    <p class="lead text-center">
        Don't have an account yet?
    </p>
    <button class="btn btn-success mx-4 mb-4" type="button">Sign Up</button>

    <div class="text-center mt-3">
        <button type="button" class="btn btn-link px-0">About this app</button>
    </div>
</div>



{% endblock content %}