{% extends "base.html" %}

{% block content %}
<div class="m-4">
    <h1 class="text-center">Welcome to BetView</h1>
    <p class="lead text-center" style="font-weight: 400">
        A very simple, free-to-use bet tracker, with some analytics.
    </p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url "login" %}" class="btn btn-primary mx-4 mb-4">Log In</a>
        <p class="lead text-center" style="font-weight: 400">
            Don't have an account yet?
        </p>
        <a href="{% url "signup" %}" class="btn btn-success active mx-4 mb-4">Sign Up</a>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">

        <dl class="row">
      
        <dt class="col-sm-3">Easy Tracking</dt>
        <dd class="col-sm-9">
          <p>Keep track of all your bets in one place.</p>
        </dd>
      
        <dt class="col-sm-3">Performance Analytics</dt>
        <dd class="col-sm-9">Analyze your betting history and improve your strategy.</dd>
      
        <dt class="col-sm-3 text-truncate">User-Friendly Interface</dt>
        <dd class="col-sm-9">Intuitive design for a smooth experience</dd>

        <dt class="col-sm-3 text-truncate">Free to Use</dt>
        <dd class="col-sm-9">The app is completely free, ensuring everyone can benefit from it.</dd>
      
      </dl>
     </div>

</div>



{% endblock content %}