{% extends "base.html" %}

{% block content %}
<h2>Version History</h2>
<p class="lead" style="font-weight: 400">
    Betview is constantly evolving. Here's a summary of the changes made in each version:
</p>

<p class="lead" style="font-weight: 400">
    <ul>
        <li style="font-weight: 400; font-size: 20px;">Version 1.0: Initial release (05/11/2024)</li>
        <li style="font-weight: 400; font-size: 20px;">Version 1.1: Added a user settings panel, american odds, custom pagination. Bug fixes and UI improvements. (03/04/2025)</li>
    </ul>
</p>
<hr>


{% endblock content %}