{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="alert alert-primary text-center" role="alert">
    <h3>Betview has been updated to <a href="{% url "version_history" %}">version 1.1</a>, now featuring American Odds and other custom settings.</h3>
</div>

<div x-data="{search: ''}">
<div class="row justify-content-center">
<div class="d-grid gap-2 col-5 mb-4">
    <input type="text" placeholder="Search for a pick..." x-model="search">
</div>
<div class="d-grid gap-2 col-5 mb-4">
    <a class="btn btn-success border border-dark" href="{% url "new_bet" %}" role="button">Add a New Bet</a>
</div>
</div>

{% include "bets/partials/bet_history_table.html" %}

{% include "bets/partials/bet_history_pagination.html" %}

  
{% endblock content %}
</div>

